p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

:root {
  --main-text-color: rgba(0, 0, 0, 1);
  --title-size: 60px;
  --sec-title-size: 36px;
  --text-size: 16px;
  --catalog-size: 20px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
}

.container {
  outline: 1px dashed tomato;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: transparent;
  border: transparent;
}
.btn--hero {
  background-color: rgb(104, 183, 56);
  color: #ffffff;
}
@media screen and (min-width: 320px) {
  .btn--hero {
    width: 280px;
    height: 40px;
    line-height: 1.29;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 768px) {
  .btn--hero {
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 0;
    text-transform: uppercase;
    /* basic-white */
  }
}

.section {
  outline: 1px dashed green;
}

.link-current {
  padding-bottom: 7px;
  border-bottom: 2px solid #68b738;
}
@media screen and (min-width: 1440px) {
  .link-current {
    border-bottom: 2px solid rgb(255, 255, 255);
  }
}

.page-header {
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .page-header {
    position: absolute;
  }
}

.mobile-header {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 17px;
  outline: 1px dashed blueviolet;
}

@media screen and (min-width: 768px) {
  .mobile-header {
    display: none;
  }
}
.menu_open_btn {
  display: block;
  margin-left: auto;
  border: none;
  color: rgb(0, 0, 0);
  background-color: transparent;
}

.menu_open_icon {
  fill: rgb(0, 0, 0);
}

.mobile-header__list {
  display: flex;
  align-items: center;
}

.mobile-header__item:not(:last-child) {
  margin-right: 57px;
}

/* tablet desktop hesder*/
.header-menu {
  display: flex;
  align-items: flex-end;
  padding-top: 24px;
}
@media screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }
}

.header-nav {
  margin-left: auto;
}

.header-nav__list {
  display: flex;
}

.logo-icon--tablet {
  display: inline-flex;
  width: 174px;
  height: 51px;
  background-image: url("../images/logo-tablet.svg");
}
@media screen and (min-width: 1440px) {
  .logo-icon--tablet {
    width: 202px;
    height: 59px;
    background-image: url("../images/logo-desktop.svg");
  }
}

.header-nav__item:not(:last-child) {
  margin-right: 35px;
}

.header-nav__item {
  display: flex;
  white-space: nowrap;
}
.header-nav__item .link {
  color: var(--main-text-color);
  font-style: normal;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
}
@media screen and (min-width: 1440px) {
  .header-nav__item .link {
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    position: relative;
    min-height: 480px;
    width: 100%;
    background-color: white;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero {
    padding-top: 62px;
    width: 100%;
    height: 872px;
    background-image: url("../images/hero-can-tablet.png");
    background-size: auto;
    background-position: 50% 263px;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1439px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero-can-tablet@2x.png");
    background-size: 709px;
    background-position: 50% 263px;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    margin: 0 auto;
    width: 1440px;
    height: 696px;
    padding-top: 223px;
    background-image: url("../images/hero-can-desktop.png"), url("../images/hero-background-desktop.jpg");
    background-size: auto, auto;
    background-position: right 330px top 143px, top right;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero-can-desktop@2x.png"), url("../images/hero-background-desktop@2x.jpg");
    background-size: 552px, contain;
    background-position: right 330px top 143px, top right;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 767px) {
  .hero-overlay {
    height: 305px;
    background-image: url("../images/hero-background-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 2/1), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: url("../images/hero-background-mobile@2x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero-overlay {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .hero-overlay {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero-top {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    padding-top: 27px;
  }
}
.hero-bottom {
  outline: 1px solid red;
}
@media screen and (max-width: 767px) {
  .hero-bottom {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 167px;
    width: 100%;
    height: 270px;
    background-image: url("../images/hero-can-mobile.png");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 2/1), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero-bottom {
    background-image: url("../images/hero-can-mobile@2x.png");
    background-position: center;
    background-size: 280px;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero-bottom {
    display: none;
  }
}

.hero__title {
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 767px) {
  .hero__title {
    margin: 0 auto 25px;
    max-width: 249px;
    font-style: normal;
    font-weight: 400;
    font-size: var(--sec-title-size);
    line-height: 1;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero__title {
    margin-bottom: 41px;
    margin-left: 86px;
    max-width: 414px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 1;
    color: #000000;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    max-width: 414px;
    margin-left: 80px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: var(--title-size);
    line-height: 1;
    color: #000000;
  }
}

.hero__text {
  margin: 0 auto 302px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero__text {
    margin-bottom: 49px;
    margin-left: 86px;
    text-align: start;
    font-size: 20px;
    line-height: 1;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1440px) {
  .hero__text {
    margin-bottom: 52px;
    margin-left: 80px;
    text-align: start;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    color: #000000;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .btn--hero {
    margin-left: 86px;
  }
}
@media screen and (min-width: 1440px) {
  .btn--hero {
    margin-left: 80px;
  }
}

.problems {
  width: 100%;
}
@media screen and (min-width: 320px) {
  .problems {
    padding-top: 22px;
    padding-bottom: 27px;
  }
}
@media screen and (min-width: 768px) {
  .problems {
    margin-top: 0px;
    padding-bottom: 45px;
  }
}
@media screen and (min-width: 1440px) {
  .problems {
    padding-top: 69px;
    padding-bottom: 71px;
  }
}

.problems-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .problems-list {
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .problems-list {
    gap: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .problems-list {
    flex-wrap: nowrap;
    gap: 80px;
  }
}

.problems-list__item {
  background-color: rgb(242, 242, 242);
  position: relative;
}
@media screen and (min-width: 320px) {
  .problems-list__item {
    padding: 30px 20px 22px 20px;
  }
}
@media screen and (min-width: 768px) {
  .problems-list__item {
    padding: 77px 279px 57px 52px;
  }
}
@media screen and (min-width: 1440px) {
  .problems-list__item {
    flex-basis: calc((100% - 80px) / 2);
    padding: 77px 52px 59px;
  }
}

.problems-list__sec-title {
  display: flex;
}
@media screen and (max-width: 767px) {
  .problems-list__sec-title {
    margin-bottom: 29px;
    margin-left: 71px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.54;
    text-transform: uppercase;
    align-items: center;
    color: var(--main-text-color);
  }
  .problems-list__sec-title.cat-slim::before {
    content: "";
    position: absolute;
    left: 20px;
    width: 53px;
    height: 53px;
    display: inline-flex;
    background-image: url("../images/cat-slim-mob.svg"), url("../images/ellipse-mob.svg");
    background-repeat: no-repeat;
    background-position: 9px, 2px;
  }
  .problems-list__sec-title.cat-pro::before {
    content: "";
    position: absolute;
    left: 13px;
    width: 69px;
    height: 67px;
    display: inline-flex;
    background-image: url("../images/cat-pro-mob.svg"), url("../images/ellipse-mob.svg");
    background-repeat: no-repeat;
    background-position: 0px, 9px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .problems-list__sec-title {
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;
  }
  .problems-list__sec-title.cat-slim::after {
    content: "";
    position: absolute;
    right: 62px;
    bottom: 80px;
    width: 200px;
    height: 211px;
    display: inline-flex;
    background-image: url("../images/cat-slim-tabl.svg"), url("../images/ellipse-tabl.svg");
    background-repeat: no-repeat;
    background-position: right 30px bottom 19px, 0;
  }
  .problems-list__sec-title.cat-pro::after {
    content: "";
    position: absolute;
    right: 28px;
    bottom: 81px;
    width: 268px;
    height: 200px;
    display: inline-flex;
    background-image: url("../images/cat-pro-tabl.svg"), url("../images/ellipse-tabl.svg");
    background-repeat: no-repeat;
    background-position: 0px, 34px;
  }
}
@media screen and (min-width: 1440px) {
  .problems-list__sec-title {
    margin-left: 162px;
    margin-bottom: 73px;
    font-style: normal;
    font-weight: 400;
    font-size: var(--sec-title-size);
    line-height: 1;
    text-transform: uppercase;
    align-items: center;
    color: var(--main-text-color);
  }
  .problems-list__sec-title.cat-slim::before {
    content: "";
    position: absolute;
    left: 52px;
    width: 100px;
    height: 106px;
    display: inline-flex;
    background-image: url("../images/cat-slim-desk.svg"), url("../images/ellipse-desk.svg");
    background-repeat: no-repeat;
    background-position: left 15px bottom 9px, 0;
  }
  .problems-list__sec-title.cat-pro::before {
    content: "";
    position: absolute;
    left: 32px;
    width: 138px;
    height: 100px;
    display: inline-flex;
    background-image: url("../images/cat-pro-desk.svg"), url("../images/ellipse-desk.svg");
    background-repeat: no-repeat;
    background-position: 0, 19px;
  }
}

@media screen and (max-width: 767px) {
  .problems-list__text {
    margin-bottom: 19px;
    padding-bottom: 23px;
    border-bottom: 1px solid #d9d9d9;
    font-family: "Arial";
    line-height: 1.29;
    color: rgb(68, 68, 68);
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .problems-list__text {
    margin-bottom: 52px;
    font-family: "Arial";
    font-size: var(--text-size);
    line-height: 1.5;
    color: var(--main-text-color);
  }
}
@media screen and (min-width: 1440px) {
  .problems-list__text {
    margin-bottom: 27px;
    font-family: "Arial";
    font-size: var(--text-size);
    line-height: 1.5;
    color: var(--main-text-color);
  }
}

.problems-list__link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: var(--text-size);
  line-height: 1;
  color: var(--main-text-color);
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .problems-list__link {
    font-size: var(--catalog-size);
    line-height: 1.5;
  }
}
.problems-list__link::after {
  content: "";
  margin-left: 15px;
  width: 24px;
  height: 12px;
  background-image: url("../images/icon_arrow.svg");
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .problems-list__link::after {
    margin-left: 25px;
  }
}
@media screen and (min-width: 1440px) {
  .problems-list__link::after {
    margin-left: 28px;
  }
}

.it-works {
  padding-bottom: 42px;
}
@media screen and (min-width: 768px) {
  .it-works {
    position: relative;
    padding-bottom: 104px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .it-works .container {
    padding-right: 105px;
  }
}
@media screen and (min-width: 1440px) {
  .it-works {
    padding-bottom: 69px;
  }
}

.it-works__title {
  margin-bottom: 38px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */
  color: var(--main-text-color);
}
@media screen and (min-width: 768px) {
  .it-works__title {
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 1;
  }
}
@media screen and (min-width: 1440px) {
  .it-works__title {
    margin-bottom: 72px;
  }
}

.it-works__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .it-works__list {
    row-gap: 134px;
    column-gap: 137px;
  }
}
@media screen and (min-width: 1440px) {
  .it-works__list {
    gap: 80px;
    flex-wrap: nowrap;
  }
}

.it-works__item {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .it-works__item {
    flex-direction: column;
    align-items: flex-start;
    flex-basis: calc((100% - 137px) / 2);
  }
}
@media screen and (min-width: 1440px) {
  .it-works__item {
    flex-basis: calc((100% - 240px) / 4);
  }
}

.it-works__text {
  font-family: "Arial";
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;
}
@media screen and (min-width: 768px) {
  .it-works__text {
    font-family: "Arial";
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .it-works__text4--del {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .it-works__text4--inp {
    display: none;
  }
}

.it-works__img {
  width: 60px;
}
@media screen and (min-width: 768px) {
  .it-works__img {
    margin-bottom: 31px;
    width: 80px;
  }
}

@media screen and (max-width: 767px) {
  .it-works__back-img {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .it-works__back-img {
    position: absolute;
    right: 8px;
    z-index: -1;
    width: 117px;
    height: 259px;
  }
  .it-works__back-img.back-img--1 {
    right: 47px;
    width: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .it-works__bottom-line {
    height: 1px;
    width: 100%;
    background-color: rgb(230, 230, 230);
    padding-left: 0;
    padding-right: 0;
  }
}

.examples .container {
  padding-bottom: 31px;
  padding-top: 27px;
}
@media screen and (max-width: 767px) {
  .examples .container {
    background-color: rgb(234, 234, 234);
  }
}

.examples__sec-title {
  margin-bottom: 33px;
  font-style: normal;
  font-weight: 400;
  font-size: var(--sec-title-size);
  line-height: 1.11;
}

.examples__text {
  margin-bottom: 25px;
  font-family: "Arial";
  font-size: 14px;
  line-height: 1.29;
  color: rgb(68, 68, 68);
}

.examples__list {
  display: flex;
  margin-bottom: 34px;
  gap: 35px;
}

.examples__item {
  position: relative;
  padding-top: 14.5px;
  padding-bottom: 17.5px;
  border: 1px solid rgb(205, 205, 205);
  flex-basis: calc(100% - 17.5px);
  align-items: center;
}

.examples__icon-text {
  font-size: 24px;
  line-height: 1;
  text-align: center;
}

.examples__sec-text {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(234, 234, 234);
  padding: 0px 14px 0px 14px;
  font-family: "Arial";
  font-size: 12px;
  line-height: 1;
  text-align: center;
  /* special_dark-grey */
  color: #444444;
}

.examples__price-text {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  text-transform: uppercase;
}

.examples__back-img {
  margin-bottom: 27px;
}

.example__slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.examples__slider-text {
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  text-transform: uppercase;
  color: #000000;
}

.example__slider-img {
  margin-right: 12px;
  width: 84px;
}/*# sourceMappingURL=main.css.map */