p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --main-text-color: rgba(0, 0, 0, 1);
  --title-size: 60px;
  --sec-title-size: 36px;
  --text-size: 16px;
  --catalog-size: 20px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
}

.container {
  outline: 1px dashed tomato;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.kuku {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 320px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: transparent;
  border: transparent;
}
.btn--hero {
  background-color: rgb(104, 183, 56);
  color: #ffffff;
}
@media screen and (min-width: 320px) {
  .btn--hero {
    width: 280px;
    height: 40px;
    line-height: 1.29;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 768px) {
  .btn--hero {
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 0;
    text-transform: uppercase;
    /* basic-white */
  }
}

.section {
  outline: 1px dashed green;
}

.link-current {
  padding-bottom: 7px;
  border-bottom: 2px solid #68b738;
}
@media screen and (min-width: 1440px) {
  .link-current {
    border-bottom: 2px solid rgb(255, 255, 255);
  }
}

.page-header {
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .page-header {
    position: absolute;
    width: 100%;
  }
}

.mobile-header {
  display: flex;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 17px;
  outline: 1px dashed blueviolet;
}

@media screen and (min-width: 768px) {
  .mobile-header {
    display: none;
  }
}
.menu_open_btn {
  display: block;
  margin-left: auto;
  border: none;
  color: rgb(0, 0, 0);
  background-color: transparent;
}

.menu_open_icon {
  fill: rgb(0, 0, 0);
}

.mobile-header__list {
  display: flex;
  align-items: center;
}

.mobile-header__item:not(:last-child) {
  margin-right: 57px;
}

/* tablet desktop hesder*/
.header-menu {
  display: flex;
  align-items: flex-end;
  padding-top: 24px;
}
@media screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }
}

.header-nav {
  margin-left: auto;
}

.header-nav__list {
  display: flex;
}

.logo-icon--tablet {
  display: inline-flex;
  width: 174px;
  height: 51px;
  background-image: url("../images/logo-tablet.svg");
}
@media screen and (min-width: 1440px) {
  .logo-icon--tablet {
    width: 202px;
    height: 59px;
    background-image: url("../images/logo-desktop.svg");
  }
}

.header-nav__item:not(:last-child) {
  margin-right: 35px;
}

.header-nav__btn {
  display: flex;
  background-color: transparent;
  border: none;
  white-space: nowrap;
}
.header-nav__btn .link {
  color: var(--main-text-color);
  font-style: normal;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
}
@media screen and (min-width: 1440px) {
  .header-nav__btn .link {
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
  }
}

.hero {
  position: relative;
  margin: 0 auto;
  min-height: 480px;
  width: 100%;
  background-color: white;
}

.hero-overlay {
  height: 305px;
}
@media screen and (max-width: 767px) {
  .hero-overlay {
    background-image: url("../images/hero-background-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hero-top {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  padding-top: 27px;
}

.hero-bottom {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 167px;
  width: 100%;
  height: 270px;
  outline: 1px solid red;
}
@media screen and (max-width: 767px) {
  .hero-bottom {
    background-image: url("../images/hero-can-mobile.png");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  }
}

.hero__title {
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 767px) {
  .hero__title {
    margin: 0 auto 25px;
    max-width: 249px;
    font-style: normal;
    font-weight: 400;
    font-size: var(--sec-title-size);
    line-height: 1;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero__title {
    text-align: start;
    margin-bottom: 62px;
    max-width: 414px;
    font-weight: 400;
    font-size: var(--title-size);
    line-height: 1;
    color: #000000;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    max-width: 414px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: var(--title-size);
    line-height: 1;
    color: #000000;
  }
}

.hero__text {
  margin: 0 auto 302px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero__text {
    margin-bottom: 49px;
    text-align: start;
    font-size: 20px;
    line-height: 1;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1440px) {
  .hero__text {
    margin-bottom: 52px;
    text-align: start;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    color: #000000;
  }
}

.problems {
  padding-top: 22px;
  padding-bottom: 22px;
}

.problems-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.problems-list__item {
  background-color: rgb(242, 242, 242);
  padding: 30px 20px 22px 20px;
  position: relative;
}

.problems-list__sec-title {
  margin-bottom: 29px;
  display: flex;
  margin-left: 71px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
  align-items: center;
  color: var(--main-text-color);
}
.problems-list__sec-title.cat-slim::before {
  content: "";
  position: absolute;
  left: 20px;
  width: 53px;
  height: 53px;
  display: inline-flex;
  background-image: url("../images/cat-slim-mob.svg"), url("../images/ellipse-mob.svg");
  background-repeat: no-repeat;
  background-position: 9px, 2px;
}
.problems-list__sec-title.cat-pro::before {
  content: "";
  position: absolute;
  left: 13px;
  width: 67px;
  height: 67px;
  display: inline-flex;
  background-image: url("../images/cat-pro-mob.svg"), url("../images/ellipse-mob.svg");
  background-repeat: no-repeat;
  background-position: 0px, 9px;
}

.problems-list__text {
  margin-bottom: 19px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  font-family: "Arial";
  line-height: 1.29;
  color: rgb(68, 68, 68);
}

.problems-list__link {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: var(--text-size);
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-text-color);
}/*# sourceMappingURL=main.css.map */