.examples {
  .container {
    padding-bottom: 31px;
    padding-top: 27px;
    @include mobil-tabl {
      background-color: rgba(234, 234, 234, 1);
    }
  }
}
.examples__sec-title {
  margin-bottom: 33px;

  font-style: normal;
  font-weight: 400;
  font-size: var(--sec-title-size);
  line-height: 1.11;
}
.examples__text {
  margin-bottom: 25px;
  font-family: 'Arial';
  font-size: 14px;
  line-height: 1.29;

  color: rgba(68, 68, 68, 1);
}

.examples__list {
  display: flex;
  margin-bottom: 34px;
  // align-items: center;
  gap: 35px;
}

.examples__item {
  position: relative;
  padding-top: 14.5px;
  padding-bottom: 17.5px;
  border: 1px solid rgba(205, 205, 205, 1);
  flex-basis: calc((100% - 35px / 2));
  align-items: center;
}
// .examples__item:not(:last-child) {
//   margin-right: 35px;
// }
.examples__icon-text {
  font-size: 24px;
  line-height: 1;

  text-align: center;
}
.examples__sec-text {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(234, 234, 234, 1);

  padding: 0px 14px 0px 14px;

  font-family: 'Arial';

  font-size: 12px;
  line-height: 1;

  // align-items: center;
  text-align: center;

  /* special_dark-grey */

  color: #444444;
}
.examples__price-text {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 1.43;

  text-align: center;
  text-transform: uppercase;
}

.examples__back-img {
  margin-bottom: 27px;
}
.example__slider {
  display: flex;
  align-items: center;
  justify-content: center;
}
.examples__slider-text {
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.25;

  display: flex;
  // align-items: center;
  // text-align: center;
  text-transform: uppercase;

  color: #000000;
}
.example__slider-img {
  margin-right: 12px;
  width: 84px;
}
