.examples {
  @include tabl-desktop {
    background-image: linear-gradient(rgba(255, 255, 255, 1) 54%, rgba(234, 234, 234, 1) 54%);
  }
  @include desktop {
    background-image: linear-gradient(rgba(255, 255, 255, 1) 15%, rgba(234, 234, 234, 1) 15%);
  }
  .container {
    @include mobil-tabl {
      padding-bottom: 31px;
      padding-top: 27px;

      background-color: rgba(234, 234, 234, 1);
    }
    @include tablet {
      padding-top: 43px;
      padding-bottom: 33px;
      position: relative;
    }
  }
}
.examples__sec-title {
  @include mobile {
    margin-bottom: 33px;

    font-style: normal;
    font-weight: 400;
    font-size: var(--sec-title-size);
    line-height: 1.11;
  }
  @include tablet {
    margin-bottom: 63px;

    font-size: 60px;
    line-height: 1;
  }
  @include desktop {
    margin-bottom: 146px;

    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 1;
    color: #000000;
  }
}
.examples__text {
  @include mobile {
    margin-bottom: 25px;
    font-family: 'Arial';
    font-size: 14px;
    line-height: 1.29;

    color: rgba(68, 68, 68, 1);
  }
  @include tablet {
    margin-bottom: 54px;

    font-size: 16px;
    line-height: 1.5;
  }
  @include desktop {
    margin-bottom: 69px;
    width: 436px;
    font-family: 'Arial';

    font-size: 16px;
    line-height: 1.5;

    color: #444444;
  }
}
.example__block {
  @include tabl-desktop {
    display: flex;
  }
  @include desktop {
    padding-right: 70px;
    width: 436px;
  }
}

.examples__list {
  @include mobile {
    display: flex;
    margin-bottom: 34px;
    // align-items: center;
    gap: 32px;
  }
  @include tabl-desktop {
    // margin-right: 167px;
    margin-right: auto;
    margin-bottom: 64px;
    width: 50%;
    gap: 42px;
  }
  @include desktop {
    gap: 42px;
    margin-bottom: 60px;
  }
}

.examples__item {
  @include mobile {
    position: relative;
    padding-top: 14.5px;
    padding-bottom: 17.5px;
    border: 1px solid rgba(205, 205, 205, 1);
    flex-basis: calc((100% - 32px / 2));
    align-items: center;
  }
  @include tablet {
    padding-top: 15px;
    padding-bottom: 20px;
    flex-basis: calc((100% - 42px / 2));
  }
}
// .examples__item:not(:last-child) {
//   margin-right: 32px;
// }
// .examples__item:not(:last-child) {
//   margin-right: 35px;
// }
.examples__icon-text {
  @include mobile {
    font-size: 24px;
    line-height: 1;

    text-align: center;
    font-size: 24px;
    line-height: 1;

    text-align: center;
  }
  @include tablet {
    font-size: 30px;
    line-height: 1.23;
    color: #000000;
  }
  @include desktop {
  }
}
.examples__sec-text {
  @include mobile {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(234, 234, 234, 1);

    padding: 0px 14px 0px 14px;

    font-family: 'Arial';

    font-size: 12px;
    line-height: 1;

    text-align: center;
    color: rgba(68, 68, 68, 1);
  }
  @include tablet {
    bottom: -6px;
    padding: 0px 8px 0px 8px;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 1);
    font-size: 14px;
  }
  @include desktop {
    background-color: rgba(234, 234, 234, 1);
  }
}
.examples__price--tabl {
  @include desktop {
    display: flex;
  }
}

.examples__price-text {
  @include mobile {
    margin-bottom: 42px;

    font-size: 14px;
    line-height: 1.43;

    text-align: center;
    text-transform: uppercase;
  }
  @include tablet {
    display: none;
  }
}
.examples__price-text--tabl {
  @include mobil-tabl {
    display: none;
  }
  @include tabl-desktop {
    margin-top: 15px;
    text-align: right;
    font-size: 20px;
    line-height: 1;

    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
  @include desktop {
    white-space: nowrap;
    margin-right: 63px;
    font-size: 20px;
    line-height: 1;

    text-transform: uppercase;

    color: #000000;
  }
}

.examples__back-img {
  @include mobil-tabl {
    min-height: 232px;
    width: 100%;
    margin-bottom: 27px;
    background-image: url('../images/ex-before-mobile.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  @include tablet {
    min-height: 620px;
    background-image: url('../images/cat_tablet.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  @include desktop {
    min-height: 656px;
    background-image: url('../images/cat_desktop.png');
    background-size: auto;
    background-repeat: no-repeat;
    // background-position: right 70px top 0px;
  }
}
.example__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  @include tabl-desktop {
    position: absolute;
    bottom: 67px;
    left: 50%;
    transform: translate(-50%);
  }
}

.examples__slider-text {
  @include mobile {
    font-size: 16px;
    line-height: 1.25;

    display: flex;
    // align-items: center;
    // text-align: center;
    text-transform: uppercase;

    color: #000000;
  }
  @include tablet {
    font-size: 20px;
    line-height: 1.5px;

    display: flex;
    // align-items: center;
    // text-align: center;
    text-transform: uppercase;
  }
}
.example__slider-img {
  @include mobil-tabl {
    min-height: 14px;
    min-width: 84px;
    margin-right: 12px;
    margin-left: 12px;

    background-image: url('../images/slider-mob.svg');
    // background-size: auto;
    background-repeat: no-repeat;
    // background-position: 50%;
  }
  @include tablet {
    margin-right: 22px;
    margin-left: 22px;
    min-height: 34px;
    min-width: 428px;
    background-image: url('../images/slider-tabl.svg');
    background-repeat: no-repeat;
  }
}
