.page-header {
  width: 100%;
  // padding-left: 30px;
  // padding-right: 30px;
  @include desktop {
    position: absolute;

    // padding-right: 110px;
    // padding-left: 110px;
  }
}
.mobile-header {
 
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 17px;
  outline: 1px dashed blueviolet;
}

@include tablet {
  .mobile-header {
    display: none;
  }
}
.menu_open_btn {
  display: block;
  margin-left: auto;
  border: none;
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
}
.menu_open_icon {
  fill: rgba(0, 0, 0, 1);
}
.mobile-header__list {
  display: flex;
  align-items: center;
}

.mobile-header__item:not(:last-child) {
  margin-right: 57px;
}

/* tablet desktop hesder*/
.header-menu {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
  align-items: flex-end;
  padding-top: 24px;
}
.header-nav {
  margin-left: auto;
}
.header-nav__list {
  display: flex;
}
// .header-logo-link {
//   display: block;

//   width: 174px;
// }
.logo-icon--tablet {
  display: inline-flex;
  width: 174px;
  height: 51px;
  background-image: url('../images/logo-tablet.svg');
  // background-repeat: no-repeat;
  // background-size: contain;
  @include desktop {
    width: 202px;
    height: 59px;
    background-image: url('../images/logo-desktop.svg');
  }
}

.header-nav__item:not(:last-child) {
  margin-right: 35px;
}
.header-nav__item {
  display: flex;
  // background-color: transparent;
  // border: none;

  white-space: nowrap;
  .link {
    color: var(--main-text-color);
    font-style: normal;

    font-size: 18px;
    line-height: 1.33;

    text-transform: uppercase;
    @include desktop {
      font-size: 20px;
      line-height: 1.5;
      color: #ffffff;
    }
  }
}
