.it-works {
  padding-bottom: 42px;
  @include tablet {
    position: relative;

    padding-bottom: 104px;
  }
  @include tabl-desktop {
    .container {
      padding-right: 105px;
    }
  }
  @include desktop {
    padding-bottom: 69px;
  }
}
.it-works__title {
  margin-bottom: 38px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */

  color: var(--main-text-color);
  @include tablet {
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 1;
  }
  @include desktop {
    margin-bottom: 72px;
  }
}
.it-works__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @include tabl-desktop {
    row-gap: 134px;
    column-gap: 137px;
  }
  @include desktop {
    gap: 80px;
    flex-wrap: nowrap;
  }
}
.it-works__item {
  position: relative;
  display: flex;

  gap: 20px;
  align-items: center;
  @include tablet {
    flex-direction: column;
    align-items: flex-start;

    flex-basis: calc((100% - 137px) / 2);
    // &::after {
    //   background-image: url('../images/1.svg');
  }
  @include desktop {
    flex-basis: calc((100% - 3 * 80px) / 4);
  }
}

.it-works__text {
  font-family: 'Arial';
  font-style: normal;

  font-size: 14px;
  line-height: 1.29;

  color: #444444;
  @include tablet {
    font-family: 'Arial';

    font-size: 16px;
    line-height: 1.5;
  }
}
.it-works__text4--del {
  @include tablet {
    display: none;
  }
}
.it-works__text4--inp {
  @include mobil-tabl {
    display: none;
  }
}
.it-works__img {
  width: 60px;
  @include tablet {
    margin-bottom: 31px;
    width: 80px;
  }
}
.it-works__back-img {
  @include mobil-tabl {
    display: none;
  }
  @include tablet {
    // display: none;
    position: absolute;
    right: 8px;
    z-index: -1;
    width: 117px;
    height: 259px;
    &.back-img--1 {
      right: 47px;
      width: 80px;
    }
  }
}
.it-works__bottom-line {
  @include tabl-desktop {
    height: 1px;
    width: 100%;
    background-color: rgba(230, 230, 230, 1);
    padding-left: 0;
    padding-right: 0;
  }
}
