.problems {
  width: 100%;

  @include mobile {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  @include tablet {
  }
}

.problems-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @include mobile {
    gap: 20px;
  }
  @include tablet {
    gap: 30px;
  }
}

.problems-list__item {
  background-color: rgba(242, 242, 242, 1);

  position: relative;
  @include mobile {
    padding: 30px 20px 22px 20px;
  }
  @include tablet {
    padding: 77px 279px 57px 52px;
  }
}
.problems-list__sec-title {
  display: flex;

  @media screen and (max-width: 767px) {
    margin-bottom: 29px;

    margin-left: 71px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.54;
    text-transform: uppercase;
    align-items: center;

    color: var(--main-text-color);
    &.cat-slim::before {
      content: "";
      position: absolute;
      left: 20px;
      width: 53px;
      height: 53px;
      display: inline-flex;

      background-image: url("../images/cat-slim-mob.svg"),
        url("../images/ellipse-mob.svg");
      background-repeat: no-repeat;
      background-position: 9px, 2px;
    }
    &.cat-pro::before {
      content: "";
      position: absolute;
      left: 13px;
      width: 67px;
      height: 67px;
      display: inline-flex;

      background-image: url("../images/cat-pro-mob.svg"),
        url("../images/ellipse-mob.svg");
      background-repeat: no-repeat;
      background-position: 0px, 9px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;

    &.cat-slim::after {
      content: "";
      position: absolute;
      right: 62px;
      bottom: 80px;
      width: 200px;
      height: 211px;
      display: inline-flex;

      background-image: url("../images/cat-slim-tabl.svg"),
        url("../images/ellipse-tabl.svg");
      background-repeat: no-repeat;
      background-position: right 30px bottom 19px, 0;
    }

    &.cat-pro::after {
      content: "";
      position: absolute;
      right: 28px;
      bottom: 81px;
      width: 268px;
      height: 200px;
      display: inline-flex;

      background-image: url("../images/cat-pro-tabl.svg"),
        url("../images/ellipse-tabl.svg");
      background-repeat: no-repeat;
      background-position: 0px, 34px;
    }
  }
}

// .problems-list__icon {
//   margin-right: 19px;
// }
.problems-list__text {
  @media screen and (max-width: 767px) {
    margin-bottom: 19px;
    padding-bottom: 23px;
    border-bottom: 1px solid #d9d9d9;

    font-family: "Arial";

    line-height: 1.29;

    color: rgba(68, 68, 68, 1);
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    margin-bottom: 52px;
    font-family: "Arial";
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
  }
}

.problems-list__link {
  position: relative;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: var(--text-size);
  line-height: 1;
  text-transform: uppercase;
  color: var(--main-text-color);

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--main-text-color);
  }
  &::after {
    content: "";
    position: absolute;

    margin-left: 15px;
    bottom: 6px;
    // left: 0;
    // top: 1px;
    width: 24px;
    height: 12px;
    display: inline-flex;

    background-image: url("../images/icon_arrow.svg");
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) and (max-width: 1439px) {
      margin-left: 25px;
      width: 32px;
      height: 10px;
      bottom: 11px;
    }
  }
}
