.problems {
  width: 100%;
  @include mobile {
    // margin-top: 22px;
    margin-bottom: 27px;
  }

  @include tablet {
    margin-top: 0px;
    margin-bottom: 45px;
  }
  @include tablet {
    margin-bottom: 71px;
  }
}
.problems-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @include mobile {
    gap: 20px;
  }
  @include tablet {
    gap: 30px;
  }
  @include desktop {
    flex-wrap: nowrap;
    gap: 80px;
  }
}
.problems-list__item {
  background-color: rgba(242, 242, 242, 1);

  position: relative;
  @include mobile {
    padding: 30px 20px 22px 20px;
  }
  @include tablet {
    padding: 77px 279px 57px 52px;
  }
  @include desktop {
    flex-basis: calc((100% - 80px) / 2);
    padding: 77px 52px 59px;
  }
}

.problems-list__sec-title {
  display: flex;

  @media screen and (max-width: 767px) {
    margin-bottom: 29px;

    margin-left: 71px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.54;
    text-transform: uppercase;
    align-items: center;

    color: var(--main-text-color);
    &.cat-slim::before {
      content: '';
      position: absolute;
      left: 20px;
      width: 53px;
      height: 53px;
      display: inline-flex;

      background-image: url('../images/cat-slim-mob.svg'), url('../images/ellipse-mob.svg');
      background-repeat: no-repeat;
      background-position: 9px, 2px;
    }
    &.cat-pro::before {
      content: '';
      position: absolute;
      left: 13px;
      width: 69px;
      height: 67px;
      display: inline-flex;

      background-image: url('../images/cat-pro-mob.svg'), url('../images/ellipse-mob.svg');
      background-repeat: no-repeat;
      background-position: 0px, 9px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;

    &.cat-slim::after {
      content: '';
      position: absolute;
      right: 62px;
      bottom: 80px;
      width: 200px;
      height: 211px;
      display: inline-flex;

      background-image: url('../images/cat-slim-tabl.svg'), url('../images/ellipse-tabl.svg');
      background-repeat: no-repeat;
      background-position: right 30px bottom 19px, 0;
    }

    &.cat-pro::after {
      content: '';
      position: absolute;
      right: 28px;
      bottom: 81px;
      width: 268px;
      height: 200px;
      display: inline-flex;

      background-image: url('../images/cat-pro-tabl.svg'), url('../images/ellipse-tabl.svg');
      background-repeat: no-repeat;
      background-position: 0px, 34px;
    }
  }
  @include desktop {
    margin-left: 162px;
    margin-bottom: 73px;
    font-style: normal;
    font-weight: 400;
    font-size: var(--sec-title-size);
    line-height: 1;
    text-transform: uppercase;
    align-items: center;
    color: var(--main-text-color);
    &.cat-slim::before {
      content: '';
      position: absolute;
      left: 52px;
      width: 100px;
      height: 106px;
      display: inline-flex;

      background-image: url('../images/cat-slim-desk.svg'), url('../images/ellipse-desk.svg');
      background-repeat: no-repeat;
      background-position: left 15px bottom 9px, 0;
    }
    &.cat-pro::before {
      content: '';
      position: absolute;
      left: 32px;
      width: 138px;
      height: 100px;
      display: inline-flex;

      background-image: url('../images/cat-pro-desk.svg'), url('../images/ellipse-desk.svg');
      background-repeat: no-repeat;
      background-position: 0, 19px;
    }
  }
}

// .problems-list__icon {
//   margin-right: 19px;
// }
.problems-list__text {
  @media screen and (max-width: 767px) {
    margin-bottom: 19px;
    padding-bottom: 23px;
    border-bottom: 1px solid #d9d9d9;

    font-family: 'Arial';

    line-height: 1.29;

    color: rgba(68, 68, 68, 1);
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    margin-bottom: 52px;
    font-family: 'Arial';
    font-size: var(--text-size);
    line-height: 1.5;
    color: var(--main-text-color);
  }
  @include desktop {
    margin-bottom: 27px;
    font-family: 'Arial';
    font-size: var(--text-size);
    line-height: 1.5;

    color: var(--main-text-color);
  }
}

.problems-list__link {
  display: flex;
  align-items: center;
  //position: relative;
  text-transform: uppercase;
  font-size: var(--text-size);
  line-height: 1;
  color: var(--main-text-color);

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    font-size: var(--catalog-size);
    line-height: 1.5;
  }

  &::after {
    content: '';
    //position: absolute;

    margin-left: 15px;
    //bottom: 6px;
    // left: 0;
    // top: 1px;
    width: 24px;
    height: 12px;
    //display: inline-flex;

    background-image: url('../images/icon_arrow.svg');
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) and (max-width: 1439px) {
      margin-left: 25px;

      //bottom: 11px;
    }
    @include desktop {
      margin-left: 28px;
      //bottom: 8px;
    }
  }
}
