.container {
  outline: 1px dashed tomato;
  margin: 0 auto;

  @include mobile {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include tablet {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
  @include desktop {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
